
@use 'variables' as v;

.botones {
  text-decoration: none;
  background-color: v.$primary-color; 
  color: v.$white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  display: inline-block; 
  border: none;
  cursor: pointer;
}


.btn-enviar {
  @extend .botones; 
  padding: 15px 32px;
  border-radius: 10px;
  font-size: 1.4rem;
  border: none;
  margin: 50px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}