// _variables.scss
$bg-color: #ece4d9;
$text-color: #333;
$primary-color: #6366F1;
$white: #ffffff;

// Tamaños de fuente originales
$font-size-logo: 40px;
$font-size-titulo: 4rem;
$font-size-subtitulo: 3rem;