@charset "UTF-8";
@use 'variables' as v;
@use 'botonymas';
@use 'orden';


@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");

body {
  background-color: v.$bg-color;
  color: v.$text-color;
  line-height: 1.6;
  margin: 0;
}
@media (max-width: 800px) {
  .redes-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
  }

  .foto-contenedor {
    flex-direction: column; 
    gap: 20px;
  }

  .img-foto {
    width: 80%;
    max-width: 300px;
  }
}